p, li{
    font-size: 20px;
}
body{
    margin: 0px;
    padding: 0px;
    position:absolute;
    background-color: rgb(6, 20, 39);
    box-sizing: border-box;
    overflow-x:hidden;
    width: 100%;
    z-index: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    position: fixed;
    box-sizing: border-box;
    width: 1520px;
    height:40px;
    background-color: rgb(6, 20, 39);
    z-index: 10000000;
}
nav{
    position:fixed;
    overflow:scroll;
    overflow-x: hidden;
    box-sizing:border-box;
    background-color: rgb(170, 14, 58);
    width: 30%;
    height: 710px;
    margin: 0px;
    float:left;
    z-index: 50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav>section>header{
    position: relative;
    float: right;
    background-color: rgb(170, 14, 58);
    color: rgb(6,20,38);
    font-style: bold;
    padding: 0px 20px;
    top: 40px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 3vw;
    width: 100%
}
nav>section>h2{
    width: 90%;
    position: relative;
    text-align: right;
    float: right;
    clear:right;
    font-size: 2vw;
    padding: 10px 20px;
    color: whitesmoke;
    background-color: rgb(119, 0, 40);
    margin: 10px 0px 5px;
    font-style: italic;
    
}
nav>section>a{
    position: relative;
    text-align: right;
    float: right;
    font-family: Calibri;
}
nav>section>a:link{
    width: 100%;
    clear: right;
    position: relative;
    float: right;
    text-align: right;
    font-family: Calibri;
    text-decoration: underline;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(6, 20, 39); 
    padding: 10px;
    font-size: 1.5vw;
    margin: -10px 0px 5px;
}
nav>section>a:hover{
    color: lightpink;
}   

nav>section>a:visited{
    color: mediumslateblue;
}   

nav>section>div#hr{
    clear: right;
    float:right;
    height:2px;
    background-color: rgb(6, 20, 39);
    
}
nav>article{
    width: 100%;
    position: relative;
    clear:right;
    margin: 50px 0px 0px;
    height: max-content;
    padding: 5px;
    color:rgb(250, 211, 218)
    
}

nav>article>h3{
    background-color: rgb(119, 0, 40);
    height: max-content;
    padding: 5px;
    color:rgb(250, 211, 218);
    font-size: 1.5vw;
}
nav>article>p{
    margin: 1vw;
    color: white;
    width: 90%;
}
main{
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    box-sizing: border-box;
    height: max-content;
    overflow:auto;
    width: 100%;
    padding-left: 30%;
    margin:auto;
}
div#title>h1{
    float:left;
    position: relative;
    text-align: left;
    margin: 20px 50px 0px;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 100%;
    padding-left: 30%;
}
div#title>h3{
    float:right;
    clear: left;
    text-align: right;
    position: relative;
    margin: 0px 30px 20px;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(228, 20, 79);
    font-style: italic;
    font-weight: lighter;
    width: 100%;
}
div#title>div.banner{
        margin: 0px;
        position:absolute;
        z-index: 10;
        width:100%;
        padding-left: 30%;
}
main>section>aside>h2{
    clear:both;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size:3vw;
    color: lightpink;
    text-decoration: underline;
}
main>section article{
    box-sizing: border-box;
    width:45%;
    background-color: rgb(22, 36, 56);
    padding-top:10px;
    margin-bottom: 10px;

}

main>section>article h2{
    color: lightseagreen;
    font-size: 2vw;
    text-align: center;
}
main>section>article>figure{
    text-align: center;

}
main>section.art>article#beeple{
    float:left;
}
main>section.art>article#pak{
    float:right;
}
main>section.music>article#grimes{
    clear:left;
    float:left;
}
main>section.music>article#steveaoki{
    float:right;
}
main>section.gameitems>article#axie{
    clear:left;
    float:left;
}
main>section.gameitems>article#kitties{
    float:right;
}